body {
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width:100%;

}

.navbar-brand small {
    display: block;
    font-size: 10px;
  
  }

/* SLIDER */


#slider {
    width:100%;
    height: 100vh;
    background-image: url(http://www.hotel-r.net/im/hotel/it/luxury-room-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    transition: all 0.5s;
}


#slider::after {
    content:'';
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1;
}

#slider  h3  {
    font-size:30px;
    color:#333;
    font-weight: 700;

}

#slider .container {
    z-index:2;
}
.sliderContent {
    width:450px;
margin-left:30px;
z-index:2;
transition: all 0.5s;
background-color:#fff;
padding:20px;
border-radius:5px;

}


.nav-item:last-child > .nav-link {
    vertical-align: middle;
    line-height: 1.5;
    padding:.375rem .75rem;
    display:inline-block;
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
    border-radius:0.25rem;

}

/* SECTION1 */

.section1ContentLeft {
    text-align:center;
    }
.section1ContentLeft p {
    margin-bottom:20px;
    font-size:14px;
    color:#888;
}
.section1ContentLeft h3 {
    font-size:68px;
    margin-top:20px;
    margin-bottom:20px;
    
    color:#333;
    font-weight:700;

}

/* LOCATIONS */

.locations {
    background-color:#222;
    color:white;
}


 span {
    font-size:0.9rem;
}

 .locationsRight p {
margin-bottom:40px;
}

 .locationsRight h3 {
 color:white;
}

 .locationsRight h3 span  {
   color:#ca7;
   padding:30px 0;
    font-size:3.4rem;
}


.locationsRight h3 { 
    padding:30px 0;
    font-size:3.4rem;  
    color:white;
    font-weight:700;
}
.locationsLeft .col-md-6 {
    padding:0;
    }

.btn-locations {
    background-color:#333;
    color:white;
}
.btn-locations:hover {
    background-color:#333;
    color:#888;
}

/* RESTAURANTS */
.row .img {
    padding:0;
    }

/* FOOTER */

footer {
    background-color:#000;
    text-align:center;
    padding:20px 0;
    color:white;
}



@media (max-width:700px) {
    #slider {
        height: 50vh;
        transition: all 0.5s;
    }
    .sliderContent {
        transition: all 0.5s;
    }

    #slider h3  {
        font-size:30px;
        color:white;
        line-height: 24px;
        margin-bottom:10px;
    }
    img {
        width:100%;
    }

    .sliderContent {
        width:100%;
    margin-left:0px;
    z-index:2;
    transition: all 0.5s;
    background-color:#fff;
    padding:20px;
    border-radius:5px;
    
    }
}