* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width:100%;

}

.container  {

    max-width:1100px;
    margin: 0 auto;
}
header {
    width:100%;
    background-color:black;
    color:white;
    padding:30px 0;
    z-index:2;
}

header .container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    
    margin-bottom:0;
    line-height: 15px;
}

.logo > span {
    font-size:10px;
    color:#aaa;
}



.logo > p  {
    text-transform: uppercase;
    font-size:1.4rem;
}
.mainNav .navigation {
    display:flex;
    justify-content: space-between;
}

.mainNav .navigation  li {
    padding:0 10px;
    list-style: none;
}

.mainNav .navigation  li:hover {
    border-bottom:3px solid white;

}

.mainNav {
    display: flex;
    justify-content: flex-end;
} 

.navigation .nav-item:last-child {
    color:#333;
    background-color:white;
    padding:10px;
    font-weight:bold;
    position:relative;
    top:-10px;
}

/* SLIDER */


#slider {
    width:100%;
    height: 100vh;
    background-image: url(http://www.hotel-r.net/im/hotel/it/luxury-room-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}


#slider::after {
    content:'';
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1;
}

#slider  h3  {
    font-size:60px;
    color:white;
    line-height: 50px;
    margin-bottom:20px;
}

.sliderContent {
text-align: center;
z-index:2;
transition: all 0.5s;
}

.btn {
    padding:10px 30px;
    background-color:#333;
    color:white;
    font-size:0.8rem;
    text-transform: uppercase;
    border:none;
}

/* SECTION1 */

#section1 {
    padding:80px 0;
}

#section1 .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;

} 

.section1ContentLeft {
    text-align: center;
    padding:10px;
}

.section1ContentLeft p {
    margin-bottom:20px;
    font-size:14px;
    color:#888;
}
.section1ContentLeft h3 {
    font-size:68px;
    margin-top:20px;
    margin-bottom:20px;
    color:#333;

}


/* LOCATIONS */

#locations {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#222;
    color:white;
    justify-content: center;
    align-items: center;
}

#locations span {
    font-size:0.9rem;
}

#locations p {
margin-bottom:40px;
}

#locations h3 {
    padding:30px 0;
    font-size:3.4rem;
}

#locations h3 span  {
   color:#ca7;
   padding:30px 0;
    font-size:3.4rem;
}

.locationsLeft {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.locationsRight {
    padding:0 50px;
}

/* RESTAURANTS */

#restaurant {
    padding:80px 0;
    background-color:#f9f9f9;
}

#restaurant .left,#restaurant .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color:white;
    font-size:13px;
    
}

#restaurant p {
margin-bottom:30px;;
}
#restaurant .left div:first-child,#restaurant .right div:nth-child(2) {
 padding:50px;
}

#restaurant .left h3,#restaurant .right h3 {
    margin:20px 0;
    font-size:24px;
}

/* FOOTER */

footer {
    background-color:#000;
    text-align:center;
    padding:20px 0;
    color:white;
}


@media (max-width: 700px) {

    #slider {
        height: 50vh;
        transition: all 0.5s;
    }
    .sliderContent {
        transition: all 0.5s;
    }

    #slider h3  {
        font-size:30px;
        color:white;
        line-height: 25px;
        margin-bottom:10px;
    }
    img {
        width:100%;
    }
    #section1 .container {
        
        grid-template-columns: 1fr;
 
    
    } 

    #section1 .container {
 
        grid-template-columns: 1fr;
      
    
    } 

    #locations {

        grid-template-columns:  1fr;

    }
    #locations .locationsRight {
        padding:20px;


    }



    #restaurant .left,#restaurant .right {

        grid-template-columns: 1fr;
        
    }
  
    
 
}

